# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
.vscode/
vs/.vs/
vs/commandcenter
vs/*.user

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/TechTree.json
src/ZerglingManager.cpp
src/ZerglingManager.cpp
src/ZerglingManager.cpp
bin/BotConfig.txt
vs/Debug.cpp
vs/Debug.h
bin/BotConfig.txt
vs/CommandCenter.vcxproj
*.filters
